<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1><%= title %></h1>
  <a href="/clients/new">Add a New Client</a>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% clients.forEach(client => { %>
        <tr>
          <td><a href="/clients/edit/<%= client._id %>"><%= client.name %></a></td>
          <td><%= client.phone %></td>
          <td><%= client.email %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</section>




<%- include('../partials/footer') %>