<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1><%= title %></h1>
  <a href="/clients/new">Add a New Client</a>
  <ul>
    <% clients.forEach(client => { %>
      <li><%= client.name %></li>
      <li><%= client.phone %></li>
      <li><%= client.email %></li>
    <% }) %>
  </ul>
</section>




<%- include('../partials/footer') %>