<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1 class="new-h1"><%= title %></h1>

  <form class="form-group" action="/clients" method="post">

    <div class="form-floating mb-3">
      <input type="text" name="name" required class="form-control" id="floatingInput" placeholder="name">
      <label for="floatingInput">name</label>
    </div>

    <div class="form-floating mb-3">
      <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="phone" required class="form-control" id="floatingInput" placeholder="phone">
      <small class="tel-format"><%= "format: 123-456-7890" %></small>
      <label for="floatingInput">phone</label>
    </div>

    <div class="form-floating mb-3">
      <input type="email" name="email" required class="form-control" id="floatingInput" placeholder="email">
      <label for="floatingInput">email</label>
    </div>

    <div class="form-floating mb-3">
      <input type="text" name="occupation" required class="form-control" id="floatingInput" placeholder="occupation">
      <label for="floatingInput">occupation</label>
    </div>

    <div class="form-floating mb-3">
      <input type="text" name="address" required class="form-control" id="floatingInput" placeholder="address">
      <label for="floatingInput">address</label>
    </div>

    <div class="form-floating mb-3">
      <input type="url" name="linkedinurl" class="form-control" id="floatingInput" placeholder="LinkedIn URL">
      <label for="floatingInput">LinkedIn URL</label>
    </div>

    <div class="form-floating mb-3">
      <select name="contacted" id="floatingInput" class="form-control">
        <option value=true>Yes</option>
        <option value=false>No</option>
      </select>
      <label for="floatingInput">contacted</label>
    </div>
    
    <div class="form-floating mb-3">
      <input type="text" name="source" required class="form-control" id="floatingInput" placeholder="source">
      <label for="floatingInput">source</label>
    </div>

    <div class="form-floating">
      <textarea name="notes" id="floatingTextarea2" style="height: 100px;" placeholder="leave notes here" class="form-control"></textarea>
      <label for="floatingTextarea2">notes</label>
    </div>

    <button class="btn btn-success new-btn" type="submit">Submit</button>
  </form>
</section>


<%- include('../partials/footer') %>