<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Name: <%= client.name %></div>
  </section>
</main> 

<%- include('../partials/footer') %>