<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <a href="/clients/<%= customer._id %>/edit">
      <button>Edit Client</button>
    </a>
    <div>Name: <%= customer.name %></div>
  </section>
</main> 

<%- include('../partials/footer') %>