<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>

    <main>
      <div class="profile-header">
        <div class="avatar-div">
          <img src="https://i.imgur.com/XO3pzJV.png" alt="avatar" class="client-avatar">
        </div>
        <div class="name-div">
          <h1><%= customer.name %></h1>
          <h6><%= customer.occupation %></h6>
          <div class="info-div">
            <p>
              <i class="fa-solid fa-phone"></i>
              <%= customer.phone %>
            </p>
            <p>
              <i class="fa-solid fa-envelope-open-text"></i>
              <%= customer.email %>
            </p>
            <p>
              <i class="fa-solid fa-map-location"></i>
              <%= customer.address %>
            </p>
          </div>
          <a href="/clients/<%= customer._id %>/edit">
            <button class="btn btn-success edit-button">
              <i class="fa-solid fa-pen fa-sm"></i>
            </button>
          </a>
        </div>
      </div>
<!------------- ☎️ conversations ☎️ ------------------->
      <!-- add a new conversation  -->
    <div>
      <h3>Conversations:</h3>
      <form action="/clients/<%= customer._id %>/conversations" method="POST">
        <div class="form-floating mb-3">
          <input name="date" required type="datetime-local" class="form-control" id="floatingInput" placeholder="Date...">
          <label for="floatingInput">Date</label>
        </div>

        <div class="form-floating">
          <textarea name="info" required class="form-control" placeholder="Leave conversation notes here..." id="floatingTextarea2" style="height: 100px"></textarea>
          <label for="floatingTextarea2">Comments</label>
        </div>

        <button class="btn btn-success conversation-btn" type="submit">Submit</button>
      </form>

    </div>

      <!-- see conversations  -->
      <% if (customer.conversations.length) { %>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Notes</th>
            </tr>
          </thead>
          <tbody>
            <% customer.conversations.forEach(function(conversation) { %>
              <tr>
                <td scope="row">
                  <%= conversation.date %>
                </td>
                <td>
                  <%= conversation.info %>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
        <% } else { %>
          <h3>No Conversations Yet</h3>
          <% } %>
    </main>

    <%- include('../partials/footer') %>