<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>


<% if (user.profile._id.equals(customer.owner?._id)) { %>
    <main>
      <div class="profile-div">
        <div class="row" id="row">
            <div class="w-50 profile-img">
              <img src="https://i.imgur.com/XO3pzJV.png" alt="avatar" class="client-avatar card-body"><br>
              <h1 class="card-body customer-name"><%= customer.name %></h1>
              <h6 class="card-body customer-occupation"><%= customer.occupation %></h6>
            </div>
          <div class="info-div w-25 ">
            <div class="info">
              <p>
                <i class="fa-solid fa-phone"></i>
                <%= customer.phone %>
              </p>
              <p>
                <i class="fa-solid fa-envelope-open-text"></i>
                <%= customer.email %>
              </p>
              <p>
                <i class="fa-solid fa-map-location"></i>
                <%= customer.address %>
              </p>
              <a href="<%= customer.linkedinurl %>" class="btn linkedin-button btn-lg">
                <i class="fa-brands fa-linkedin"></i>
                LinkedIn
              </a>
            </div>
          </div>
          <div class=" w-auto">
            <a href="/clients/<%= customer._id %>/edit">
              <button class="btn btn-success edit-button">
                <i class="fa-solid fa-pen fa-sm"></i>
              </button>
            </a>
          </div>
        </div>
        <div class="further-info">
          <p>Notes: <%= customer.notes %></p>
          <p>Source: <%= customer.source %></p>
          <p>Contacted: <%= customer.contacted %></p>
        </div>
      </div>
<!------------- ☎️ conversations ☎️ ------------------->
      <!-- add a new conversation  -->
    <div class="new-conversations">
      <h4 style="color: #34573f;">Add a New Conversation</h4>
      <form action="/clients/<%= customer._id %>/conversations" method="POST">
        <div class="form-floating mb-3">
          <input name="date" required type="datetime-local" class="form-control" id="floatingInput" placeholder="Date...">
          <label for="floatingInput">Date</label>
        </div>

        <div class="form-floating">
          <textarea name="info" required class="form-control" placeholder="Leave conversation notes here..." id="floatingTextarea2" style="height: 100px"></textarea>
          <label for="floatingTextarea2">Comments</label>
        </div>

        <button class="btn btn-success conversation-btn" type="submit">Submit</button>
      </form>

    </div>

      <!-- see conversations  -->
      <% if (customer.conversations.length) { %>
        <h4 class="all-conversations" style="color: #34573f;">All Conversations</h4>
        <table class="table table-hover conversation-table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Notes</th>
            </tr>
          </thead>
          <tbody>
            <% customer.conversations.forEach(function(conversation) { %>
              <tr>
                <td scope="row">
                  <%= conversation.date %>
                </td>
                <td>
                  <%= conversation.info %>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
        <% } else { %>
          <h3 style="color: #34573f;">No Conversations Yet</h3>
          <% } %>
    </main>
  <% } %>

    <%- include('../partials/footer') %>