<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
</main>

<!--------------- ðŸ“ add a todo ðŸ“ --------------->
<div>
  <h3>Add a To-Do</h3>
  <form action="/todos" method="POST">
    <div class="form-floating mb-3">
      <input name="content" required type="text" class="form-control" id="floatingInput" placeholder="To-Do">
      <label for="floatingInput">to-do</label>
    </div>

    <button class="btn btn-success" type="submit">Add</button>
  </form>
</div>

<!-------------- ðŸ‘€ see todos ðŸ‘€ --------------->
<div>
  <ul>
    <% todos.forEach(todo => { %>
      <li><%= todo.content %></li>
    <% }) %>
  </ul>
</div>

<%- include('../partials/footer') %>